{% extends 'index.html' %}

{% block content %}

<div class="row">
<div class="col-md-10" style="margin: 0 auto;">
  <div class="card">
      <div class="card-header">
          <strong class="card-title">Add new attribute</strong>
      </div>
      <div class="card-body">
        <!-- Credit Card -->
        <div id="pay-invoice">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center">Enter Attribute</h3>
                </div>
                <hr>
                <form action="add_attribute/" method="post">
                    {% csrf_token %}
                    <div class="form-group has-success">
                        <label for="cc-name" class="control-label mb-1">Attribute Title</label>
                        <input id="title" name="title" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the attribute name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" required/>
                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                    </div>
                    <div>
                    <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">Radios</label></div>
                            <div class="col col-md-9">
                              <div class="form-check">
                                <div class="radio">
                                  <label for="radio1" class="form-check-label ">
                                    <input type="radio" id="radio1" name="attribute_action" value="supp" class="form-check-input" required/>Supression
                                  </label>
                                </div>
                                <div class="radio">
                                  <label for="radio2" class="form-check-label ">
                                    <input type="radio" id="radio2" name="attribute_action" value="del" class="form-check-input" required/>Deletion
                                  </label>
                                </div>
                                <div class="radio">
                                  <label for="radio3" class="form-check-label ">
                                    <input type="radio" id="radio3" name="attribute_action" value="gen" class="form-check-input" required/>Generalization
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                            <span id="payment-button-amount">Submit</span>
                            <span id="payment-button-sending" style="display:none;">Sending…</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

      </div>
  </div> <!-- .card -->

</div><!--/.col-->
</div>
{% endblock %}