{% extends 'index.html' %}

{% block content %}

<div class="row">
<div class="col-md-10" style="margin: 0 auto;">
  <div class="card">
      <div class="card-header">
          <strong class="card-title">Delete Regular Expression Pattern</strong>
      </div>
      <div class="card-body">
        <div id="pay-invoice">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center" style="color: red">Delete regex pattern for {{regex.attribute.attribute_title}}</h3>
                </div>
                <hr>
                <form action="/delete_regex/{{regex.id}}/" method="post">
                    {% csrf_token %}
                  <div class="form-group">
                  <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                      <span id="payment-button-amount">DELETE PATTERN</span>
                  </button>
                  </div>
                </form>
            </div>
        </div>

      </div>
  </div> <!-- .card -->

</div><!--/.col-->
</div>
{% endblock %}