{% extends 'index.html' %}

{% block content %}

<div class="row">
<div class="col-md-10" style="margin: 0 auto;">
  <div class="card">
      <div class="card-header">
          <strong class="card-title">Reset / Setup Application</strong>
      </div>
      <div class="card-body">
        <div id="pay-invoice">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center" style="color: red">Warning: Pressing this would discard all your configurations and revert to defaults</h3>
                </div>
                <hr>
                <form action="/reset_setup_application/" method="post">
                    {% csrf_token %}
                  <div class="form-group">
                  <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                      <span id="payment-button-amount">RESET & SETUP</span>
                  </button>
                  </div>
                </form>
            </div>
        </div>

      </div>
  </div> <!-- .card -->

</div><!--/.col-->
</div>
{% endblock %}